<div class="top-active">
	<h2>Самые активные {{ day }}:</h2>

	{% for item in items %}
	<div class="top-active-item top-active-item-{{ 6 - loop.index }}">
		<img class="top-active-avatar" src="{{ item.photo_100 }}" />
		<div class="top-active-name">{{ item.first_name }}</div>
		<a class="top-active-blik" target="_blank" href="http://vk.com/id{{ item.id }}"></a>
	</div>
	{% endfor %}
</div>