.icon-comment-user { background-image: url(../../img/icons/comment-user.png); background-repeat: no-repeat; }

.icon-comment { background-image: url(../../img/icons/comment.png); background-repeat: no-repeat; }

.icon-foto-user { background-image: url(../../img/icons/foto-user.png); background-repeat: no-repeat; }

.icon-foto { background-image: url(../../img/icons/foto.png); background-repeat: no-repeat; }

.icon-like-user { background-image: url(../../img/icons/like-user.png); background-repeat: no-repeat; }

.icon-like { background-image: url(../../img/icons/like.png); background-repeat: no-repeat; }

.icon-logo { background-image: url(../../img/icons/logo.png); background-repeat: no-repeat; }

.icon-repost-user { background-image: url(../../img/icons/repost-user.png); background-repeat: no-repeat; }

.icon-repost { background-image: url(../../img/icons/repost.png); background-repeat: no-repeat; }

.icon-teme-user { background-image: url(../../img/icons/teme-user.png); background-repeat: no-repeat; }

.icon-teme { background-image: url(../../img/icons/teme.png); background-repeat: no-repeat; }