<form class="form">
	<div class="form-group">
		<label class="form-label" for="inputAdmins">Администраторы:</label>
		<div class="form-controls">
			<input class="form-input width-530" type="text" id="inputAdmins" value="id197630641, id197630641, id197630641" />
		</div>
	</div>
	<div class="form-group">
		<label class="form-label" for="inputText">Текст автопоста::</label>
		<div class="form-controls">
			<textarea id="inputText" class="form-textarea" style="width: 526px; height: 100px;">
Точность гироскопа нестабильна. Штопор определяет собственный кинетический момент, даже если не учитывать выбег гироскопа. Симметрия ротора вращательно требует перейти к поступательно перемещающейся системе координат, чем и характеризуется момент в соответствии с системой уравнений. Гировертикаль требует перейти к поступательно перемещающейся системе координат, чем и характеризуется уходящий
			</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="form-label" for="inputDays">Постинг результатов:</label>
		<div class="form-controls">
			<input class="form-input width-120" type="text" id="inputDays" value="вт, ср, чт" />
			<input class="form-input width-100" type="text" value="8:00, 22:30" />
			<span style="float: right;">
				Время парсинга:
				<input class="form-input width-50" type="text" value="0:00" />
			</span>
		</div>
	</div>
	<br />
	<div style="text-align: center;"><a href="#" class="btn btn-success btn-large">Сохранить</a></div>
</form>